@media screen and (max-width: 572px) {
  .container {
    width: 90%;
  }
  h1 {
    font-size: 20px;
    padding: 20px 0;
  }
  /* header */
  nav , nav ul{
    flex-direction: column;
    padding: 20px 0;
  }
  nav ul{
    padding: 0;
  }
  nav ul li{
    margin-top: 20px;
  }
}

/* tab */
@media screen and (min-width: 573px) and (max-width: 992px) {
  .container {
    width: 90%;
  }
  h1 {
    font-size: 25px;
    padding: 20px 0;
  }
  /* header */
  .navbar .logo img {
    width: 60%;
  }
}
